@model Datatalbe.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.eName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eName)
                @Html.ValidationMessageFor(model => model.eName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eCell, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eCell)
                @Html.ValidationMessageFor(model => model.eCell)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ePhone)
                @Html.ValidationMessageFor(model => model.ePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eEmail)
                @Html.ValidationMessageFor(model => model.eEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dId)
                @Html.ValidationMessageFor(model => model.dId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
